.appname{
  font-size:40px;
  font-weight: 800;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  
}
 
.items-container {
  text-align: left;
}

.kg-row{
  margin: 10px 7px;
}
.kg-button {
  min-width: 100%;
  
}